<VirtualHost *:80>
	ServerName {{ item }}
        DocumentRoot /var/www/{{ item }}

        <Directory "/var/www/{{ item }}">
                AllowOverride All
        </Directory>

        <IfModule mod_expires.c>
                ExpiresActive On
                ExpiresDefault A1
        </IfModule>

        <IfModule mod_headers.c>
                Header unset ETag
                Header set Cache-Control "no-cache, no-store, must-revalidate"
                Header set Pragma "no-cache"
                Header set Note "NO CACHING ON DEV-SITE"
        </IfModule>

</VirtualHost>
